<div class="container">
    <button type="button" class="btn btn-primary" (click)="OnAddClub()"><i class="glyphicon glyphicon-plus"></i> Add Club</button>

    <table class="table table-bordered mt-8">
        <thead class="table-header">
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Country</td>
                <td>League</td>
                <td width="240px">Operation</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let club of clubs; let index = index" class="clubList">
                <td >
                    {{index + 1}}
                </td>
                <td (click) = "onSelected(club)">
                    {{club.name}}
                </td>
                <td>
                    {{club.country}}
                </td>
                <td>
                    {{club.league}}
                </td>
                <td>
                    <div class="col-xs-6">
                        <button type="button" class="form-control btn btn-success" (click) = "OnEdit(club.id)"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="form-control btn btn-danger" (click) = "OnDelete(club.id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>