<div class="container">
    <div class="col-xs-12">
        <div class="name col-sm-12 pt-8">
            <span class="col-sm-3">Name:</span>
            <div class="col-sm-6">
                <input type="text" [(ngModel)] = "playerNew.name" placeholder="name" /><br>
            </div>
            
        </div>
        <div class="name col-sm-12 pt-8">
            <span class="col-sm-3">Age:</span>
            <div class="col-sm-6">
                <input type="text" [(ngModel)] = "playerNew.age" placeholder="age" /><br>
            </div>
        </div>
        <div class="name col-sm-12 pt-8">
            <span class="col-sm-3">Role:</span>
            <div class="col-sm-6">
                <ss-multiselect-dropdown (ngModelChange) = "OnItemSelect()" [options]="RoleOptions" [texts]="myTexts" [settings]="singleSettings" [(ngModel)]="role_options"></ss-multiselect-dropdown>
            </div>
        </div>
        <div class="name col-sm-12 pt-8">
            <span class="col-sm-3">Style:</span>
            <div class="col-sm-6">
                <ss-multiselect-dropdown (ngModelChange) = "OnItemSelect()" [options]="StyleOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="style_options"></ss-multiselect-dropdown>
            </div>
        </div>
        <div class="name col-sm-12 pt-8">
            <span class="col-sm-3">Club:</span>
            <div class="col-sm-6">
                <ss-multiselect-dropdown (ngModelChange) = "OnItemSelect()" [options]="ClubOptions" [texts]="myTexts" [settings]="singleSettings" [(ngModel)]="club_options"></ss-multiselect-dropdown>
            </div>
        </div>
        <div class="name col-sm-12 pt-8">
            <span class="col-sm-3">Personality:</span>
            <div class="col-sm-6">
                <ss-multiselect-dropdown (ngModelChange) = "OnItemSelect()" [options]="PersonalityOptions" [texts]="myTexts" [settings]="singleSettings" [(ngModel)]="person_options"></ss-multiselect-dropdown>
            </div>
        </div>
        
    </div>
    <div class="btn-add pt-8" *ngIf="id == 0">
        <button type="button" class="btn btn-primary mt-8" (click)="add_player()">Add Player</button>
    </div>
    <div class="btn-add pt-8" *ngIf="id > 0">
        <button type="button" class="btn btn-primary mt-8" (click)="update_player()">Update Player</button>
    </div>
</div>