<div class="container">
    <div class="row">
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <img class="swiper-slide" *ngFor="let image of match_images" [src]="image.url">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </swiper>
    </div>
    <br>
    <div class="row">
        <div class="SoccerStars">
            <h1>The Soccer Stars</h1>
            <ul>
                <li *ngFor="let img of soccer_images" (click) = "gotoPlayerDetail(img.id)">
                    <img src="{{ img.url }}">
                    <div class="info">
                        <p><strong>{{ img.name }}</strong></p>
                        <p>{{ img.country }}</p>
                        <p>{{ img.age }}</p>
                        <p>{{ img.club }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row">
        <div class="Clubs">
            <h1>The Clubs</h1>
            <ul>
                <li *ngFor="let img of club_images" (click) = "gotoClubDetail(img.id)">
                    <img src="{{ img.url }}">
                    <div class="info">
                        <p><strong>{{ img.name }}</strong></p>
                        <p>{{ img.country }}</p>
                        <p>{{ img.league }}</p>
                        <p>{{ img.trophies }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
