<div class="container">
    <button type="button" class="btn btn-primary" (click)="OnAddPlayer()"><i class="glyphicon glyphicon-plus"></i> Add player</button>
    <button type="button" class="btn btn-primary pull-right" (click)="returnBack()"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>

    <table class="table table-bordered mt-8">
        <thead class="table-header">
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Age</td>
                <td>Club</td>
                <td>Role</td>
                <td width="240px">Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let player of players; let index = index" class="playerList">
                <td >
                    {{index + 1}}
                </td>
                <td (click) = "onSelected(player)">
                    {{player.name}}
                </td>
                <td>
                    {{player.age}}
                </td>
                <td>
                    {{player.club}}
                </td>
                <td>
                    {{player.role}}
                </td>
                <td>
                    <div class="col-xs-6">
                        <button type="button" class="form-control btn btn-success" (click) = "OnEdit(player.id)"><i class="glyphicon glyphicon-edit"></i>  Edit</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="form-control btn btn-danger" (click) = "OnDelete(player.id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>