<div class="container">
    <button type="button" class="btn btn-primary" (click)="OnAddPlayer()">Add a player</button>

    <table class="table table-bordered mt-8">
        <thead class="table-header">
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Age</td>
                <td>Club</td>
                <td>Role</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let player of players; let index = index" class="playerList">
                <td >
                    {{index + 1}}
                </td>
                <td (click) = "onSelected(player)">
                    {{player.name}}
                </td>
                <td>
                    {{player.age}}
                </td>
                <td>
                    {{player.club}}
                </td>
                <td>
                    {{player.role}}
                </td>
                <td>
                    <button type="button" class="btn btn-success" (click) = "OnEdit(player.id)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click) = "OnDelete(player.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>