div {
    color: black;
    font-weight: bold;
}

td {
    color: black;
    font-weight: bold;
}

span {
    text-align: right;
}

div .pt-8 {
    padding-top: 8px;
}

div .mt-8 {
    margin-top: 8px;
}
